.title{
  color: #061117;
  font-size: 200%;
  font-family: "Shonar Bangla";
  font-style: oblique;
}
.content{
  color: #061117;
  font-size: 140%;
  font-family: "Shonar Bangla";
}
.category{
  color: #061117;
  font-size: 140%;
  font-family: "Shonar Bangla";
  padding-top: 2%}
.b{
  width: 10%;
}
.but{
  padding: 5% 3% 3% 3%;
}
.form{
  width: 100%;
  padding-top: 6%;
  border: solid;
  background-color: transparent;
}
body{
  background-size: 100%;
  min-height: 880px;
}
.aaa{
  font-family: "Arial Black";
  padding-top: 3%;

}
