<body background="../../assets/611472.jpg">
<div class="bbb"></div>
<div class="instruct" align="center">
  <button class="btn btn-success" (click)="back()">BACK</button>
</div>
<div align="center">
  <h1>INSTRUCTIONS-READ ME CAREFULLY</h1>
</div>
<div class="row">
<div class="col-2"></div>
<div class="col-8">
  <p>{{instructionOne}}</p>
  <p>{{instructionTwo}}</p>
  <p>{{instructionThree}}</p>
  <p>{{instructionFour}}</p>
  <p>{{instructionFive}}</p>
  <p>{{instructionSix}}</p>
  <p>{{instructionSeven}}</p>
  <p>{{instructionEight}}</p>
</div>
</div>
</body>
